set timeout=5
menuentry "RezzOS" {
    linux /boot/bzImage quiet console=tty0 loglevel=0 nokaslr nomodeset
    initrd /boot/rootfs.cpio.gz
}
menuentry "RezzOS ttyS0(for COM port, qemu)" {
    linux /boot/bzImage quiet console=ttyS0 loglevel=0 nokaslr nomodeset
    initrd /boot/rootfs.cpio.gz
}
