
serial --unit=0 --speed=115200
terminal_input console serial
terminal_output console serial


insmod gfxterm
insmod png
insmod jpeg

set gfxmode=1920x1080
terminal_output gfxterm serial


set color_normal=light-gray/black
set color_highlight=white/dark-gray


background_image /usr/share/backgrounds/wallpaper.jpg

set timeout=5

menuentry "RezzOS" {
    linux /boot/bzImage quiet console=tty0 loglevel=0 nokaslr nomodeset
    initrd /boot/rootfs.cpio.gz
}

menuentry "RezzOS ttyS0(for COM port, qemu)" {
    linux /boot/bzImage quiet console=ttyS0 loglevel=0 nokaslr nomodeset
    initrd /boot/rootfs.cpio.gz
}
